body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.top-items{
    text-align: center;
    color: #fff;
    width: 70%;

}
.top-btn{
    text-decoration: none;
    background-image: linear-gradient(brown, tomato);
    padding: 10px 30px;
    border-radius: 6px;
    color: white; 
    background: #FF5959;
    color: #fff;
    display: inline-block;

}
.top-banner{
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    display: flex;
}
.top-items h1{
    font-weight: 800;
    color: #fff;
    font-size: 36px;  
}
.top-items p{
    font-weight: 100;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.836);
}
.donate-today-section{
    text-align: center;
    padding: 60px 100px;
}
.donate-today-section h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}
.donate-today-section p{
    font-weight: 100;
    opacity: 0.7;
}
.donation-amount h3{
    margin: 10px;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 30px 50px;
    display: inline-block;
    font-size: 26px;
    color: #5f5a5a;
}
#amount-donating{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.donate-today-section input{
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    outline: none;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
}
.donate-plan{
    text-align: center;
}
.donate-plan h1{
    font-weight: 700;
    font-size: 45px;
}
.donate-plan p{
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}
.panning-cards{
    display: flex;
    justify-content: space-between;
}